1><%= @exercise.id %></h1>

<form action="/<%= @exercise.id %>" method="get">  
    <input type="number">  
    <input type="submit">
</form>

<% unless params[:prompt_value] == nil %>
  <% if params[:prompt_value].to_i == 0 %>
    <% input = params[:prompt_value] %>
  <% else %>
    <% input = params[:prompt_value].to_i %>
  <% end %>

  <%= "Here is your number as a string: #{ input.send(@exercise.num )}"%>
<% end %>

<p>
  <a href="/">Index</a>
</p>